services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: roomie
      POSTGRES_PASSWORD: roomie
      POSTGRES_DB: roomieconnect
    volumes:
      - dbdata:/var/lib/postgresql/data

  server:
    build: ./server
    environment:
      DATABASE_URL: postgres://roomie:roomie@db:5432/roomieconnect
      STRIPE_SECRET_KEY: ${sk_test_51S8k3yRqLEGXBCVqtcEtxpaZHje1iZVOwaIHw6Sd9BoufUKWTIrkgJwRX6meGHoBWX1sz9cjRLOhD6w5kcBOmetT00C2ClrqMi}
      STRIPE_WEBHOOK_SECRET: ${whsec_2fdfcf2ad9dff0536a45b7b2c7105a8b829cf26e2a0e5f5700d1978f0fc8e185}
      FRONTEND_ORIGIN: http://localhost:5173
    expose:
      - "8080"
    depends_on:
      - db

  client:
    build: ./client
    environment:
      VITE_API_URL: /api
    command: ["npm","run","build"]
    volumes:
      - clientdist:/app/dist

  caddy:
    image: caddy:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - clientdist:/srv
      - caddydata:/data
      - caddyconfig:/config
    depends_on:
      - server
      - client

volumes:
  dbdata:
  clientdist:
  caddydata:
  caddyconfig:
